<!DOCTYPE html>
<html>
<head>
  <title>Register</title>
</head>
<body>

<h1>Create Account</h1>

<% if (error) { %>
  <p style="color:red;"><%= error %></p>
<% } %>

<form action="/register" method="POST">
  <input type="hidden" name="_csrf" value="<%= csrfToken %>">

  <label>Username:</label>
  <input type="text" name="username">

  <br><br>

  <label>Password:</label>
  <input type="password" name="password">

  <br><br>

  <button type="submit">Register</button>
</form>

</body>
</html>
